.projects {
  background: #f5f7fa;
  padding: 8rem 0 10.5rem;
  &__container {
    max-width: 1184px;
    margin: 0 auto;
  }
  &__title {
    margin: 0 0 1rem;
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 2.25rem;
    line-height: 2rem;
  }
  &__description {
    max-width: 580px;
    margin: 0 0 4rem;
    font-family: Poppins;
    font-style: normal;
    font-weight: 300;
    font-size: 1.25rem;
    line-height: 2.25rem;
    color: $shuttle-gray;
  }
}

.projects-list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 1.5rem;
  row-gap: 1.5rem;
  max-width: 1184px;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.project {
  background: #ffffff;
  box-shadow: 0px 6px 16px rgba(24, 41, 67, 0.09);
  border-radius: 0.5rem;
  max-width: 580px;
  overflow: hidden; //overflow shorthand CSS property sets what to do when an element's content is too big to

  &__container {
    margin: 3rem 3rem;
  }
  &__description {
    margin: 0 0 3rem;
    font-family: Poppins;
    font-style: normal;
    font-weight: 300;
    font-size: 1.125rem;
    line-height: 2rem;
    color: $shuttle-gray;
  }
  &__footer {
    text-align: right;
    background: $catskil-white;
    padding: 1rem 3rem 1rem 0;
  }
  &__icon {
    margin-right: 0.5rem;
  }
  &__logo {
    margin-bottom: 1rem;
  }
  &__link {
    color: $azure-radiance;
    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 1.125rem;
    line-height: 2rem;
    text-decoration: none;
    display: inline-flex;
    align-items: center;

    &::before {
      content: "";
      display: inline-block;
      margin-right: 8px;
      width: 24px;
      height: 24px;
      background: url("../../assets/demo-icon.svg") center center no-repeat;
    }
    &--code::before {
      background: url("../../assets/code-icon.svg") center center no-repeat;
    }
    &:visited {
      color: $azure-radiance;
    }
  }
  &__title {
    margin: 0 0 1.125rem;
    padding: 0;
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 1.25rem;
    line-height: 2.25rem;
  }
}
