$azure-radiance: #0593FB;
$ghost: #CBD2D9;
$white: #fff;
$big-stone: #171f3f;
$silver: #E5E8EC;
$green: #06C847;
$violet: #653CAD;
$dark-blue: #2251CC;
$shuttle-gray: #52606D;
$catskil-white: #F5F7FA;


$mobile: 768px;