@import "_normalize";
@import url("https://fonts.googleapis.com/css?family=Poppins:300,400,500,600&display=swap&subset=latin-ext");
@import "modules/about.scss";
@import "modules/skills.scss";
@import "modules/projects.scss";
@import "modules/contact.scss";

html {
  box-sizing: border-box;
  font-size: 16px;
  scroll-behavior: smooth;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}


.body {
  font-family: "Poppins", sans-serif;
  background: $white;
  color: $big-stone;
  border: 16px solid $big-stone;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  }